:root {
    --mainGreen: #214E34; 
}

.navbar {
    background: black;
    height: 10rem;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto; 
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 6rem;
    width: 6rem;
}

.desktopMenuLi {
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    cursor: pointer;
    color: white;
}

.desktopMenuLi:hover {
    color: var(--mainGreen); 
    padding-bottom: 0.3rem;
    border-bottom: 3px solid var(--mainGreen);
}

.navBtn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1.8rem;
}

.active {
    color: yellow;
}

.navMenu {
    position: absolute;
    top: 4rem; 
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .navBtn {
        visibility: visible;
        opacity: 1;
    }
}
